Reference : https://lsjsj92.tistory.com/568

# NMF ê¸°ë°˜ DKT ë¬¸ì œ ë¶„ì„
- ğŸ¦† ê°œìš” (Overview)
- âš™ï¸ í™˜ê²½ ì„¤ì • ë° ì „ì²˜ë¦¬ (Environment Setting & Preprocessing)
- ğŸ¯ NMF ë¶„ì„
- ğŸ¯ ì˜ˆì¸¡ ë° í‰ê°€

## ğŸ¦†ê°œìš” (Overview)

### DKT, RS, MF Review

- ë¯¸ì…˜ 8 ë‚´ìš© ì°¸ì¡°
- DKT (Deep Knowledge Tracing) : ì‚¬ìš©ìì˜ í•™ìŠµ ìˆ˜ì¤€ì„ ì¶”ì í•˜ê¸° ìœ„í•œ ë¬¸ì œë¡œ, ì£¼ë¡œ ë¬¸ì œì— ëŒ€í•´ ëŒ€ìƒìê°€ í’€ ìˆ˜ ìˆì„ì§€ ì—¬ë¶€ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ë¬¸ì œ
- RS (Recommendation System) : ì‚¬ìš©ìì—ê²Œ ì•„ì´í…œì„ ì¶”ì²œí•˜ëŠ” ë¬¸ì œë¡œ, ì•„ì´í…œì— ëŒ€í•œ ì‚¬ìš©ìì˜ ì„ í˜¸ì—¬ë¶€, ì„ í˜¸ë„ (ì·¨í–¥) ë¥¼ ì˜ˆì¸¡. 'ì„ í˜¸'ë¥¼ ë¬¸ì œë¥¼ ë§ì¶œ ê°€ëŠ¥ì„±ìœ¼ë¡œ ë³´ë©´ DKT ë¬¸ì œë¡œ ì¹˜í™˜ ê°€ëŠ¥
- MF (Matrix Factorization) : í–‰ë ¬ ë¶„í•´ ê¸°ë²•ìœ¼ë¡œ, í–‰ë ¬ë¡œ í‘œí˜„ë˜ëŠ” íŠ¹ì„± ë²¡í„°ë¥¼ ì ì¬ ê³µê°„ì— íˆ¬ì˜í•˜ëŠ” íˆ¬ì˜í–‰ë ¬ì„ êµ¬í•˜ëŠ”ë° ì‚¬ìš©. íˆ¬ì˜ì„ í†µí•´ ì‚¬ìš©ìì˜ ì•„ì´í…œì— ëŒ€í•œ ì„ í˜¸ë¥¼ ì ì¬ factorì— ëŒ€í•œ ì„ í˜¸ë¡œ ì¹˜í™˜í•˜ì—¬ RS ë¬¸ì œë¥¼ ì¶”ì • ê°€ëŠ¥


### ë¹„ìŒìˆ˜ í–‰ë ¬ ë¶„í•´ (Non-negative matrix factorization: NMF) ë¥¼ í†µí•œ MF

> ë¹„ìŒìˆ˜ í–‰ë ¬ ë¶„í•´(Non-negative matrix factorization, NMF)ëŠ” ìŒìˆ˜ë¥¼ í¬í•¨í•˜ì§€ ì•Šì€ í–‰ë ¬ Vë¥¼ ìŒìˆ˜ë¥¼ í¬í•¨í•˜ì§€ ì•Šì€ í–‰ë ¬ Wì™€ Hì˜ ê³±ìœ¼ë¡œ ë¶„í•´í•˜ëŠ” ì•Œê³ ë¦¬ì¦˜ì´ë‹¤.[1] í–‰ë ¬ì´ ìŒìˆ˜ë¥¼ í¬í•¨í•˜ì§€ ì•ŠëŠ” ì„±ì§ˆì€ ë¶„í•´ ê²°ê³¼ í–‰ë ¬ì„ ì°¾ê¸° ì‰½ê²Œ ë§Œë“ ë‹¤. ì¼ë°˜ì ìœ¼ë¡œ í–‰ë ¬ ë¶„í•´ëŠ” ì •í™•í•œ í•´ê°€ ì—†ê¸° ë•Œë¬¸ì— ì´ ì•Œê³ ë¦¬ì¦˜ì€ ëŒ€ëµì ì¸ í•´ë¥¼ êµ¬í•˜ê²Œ ëœë‹¤. ë¹„ìŒìˆ˜ í–‰ë ¬ ë¶„í•´ëŠ” ì»´í“¨í„° ì‹œê° ì²˜ë¦¬, ë¬¸ì„œ ë¶„ë¥˜, ìŒíŒŒ ë¶„ì„, ê³„ëŸ‰ë¶„ì„í™”í•™, ì¶”ì²œ ì‹œìŠ¤í…œ ë“±ì— ì“°ì¸ë‹¤.[(Wikipedia)](https://ko.wikipedia.org/wiki/%EB%B9%84%EC%9D%8C%EC%88%98_%ED%96%89%EB%A0%AC_%EB%B6%84%ED%95%B4)

- $V=WH+U$ ê°€ ì„±ë¦½í•˜ëŠ” W, Hë¥¼ êµ¬í•˜ë©°, ì˜¤ì°¨ í¸í–¥ Uë¥¼ ìµœì†Œí™”í•œë‹¤
- $rank(V) = rank_+(V)$ ì¼ë•Œ ë¶„í•´ë¥¼ NMFë¼ê³  í•œë‹¤ ($rank_+(V)$ëŠ” Non-negative rank)
- Non-negative Rank : $rank_+(V)=min\{q| \Sigma_{j=1}^{q}R_j=A, rank(R_1)=...=rand(R_q)=1, R_j \geq 0, \forall{j}\}$ ([ì°¸ê³ ](https://en.wikipedia.org/wiki/Nonnegative_rank_(linear_algebra)))
- Positive (Non-negative) Matrix : $r_{i,j} \geq 0, \forall{i,j} \implies R \geq 0$  ([ì°¸ê³ ](https://en.wikipedia.org/wiki/Nonnegative_matrix))


### ì‹¤ìŠµ ì§„í–‰ ë‚´ìš©

- í™˜ê²½ ì„¤ì • ë° ì „ì²˜ë¦¬ : DKT ë¬¸ì œì˜ ë°ì´í„°ë¥¼ í˜‘ì—… í•„í„°ë§ì— ë§ëŠ” í˜•íƒœë¡œ ë³€í˜•í•˜ëŠ” ë°©ë²• ì„¤ëª…
- NMF ë¶„ì„ : NMFì˜ ê°œë…ê³¼ ì´ë¥¼ í†µí•´ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ëŠ” ë°©ë²• ì„¤ëª…
- ì˜ˆì¸¡ë° í‰ê°€ : NMF ë¶„ì„ìœ¼ë¡œ ìƒì„±ëœ ë³€í™˜ í–‰ë ¬ì„ í†µí•´ DKT ë¬¸ì œë¥¼ ì¶”ë¡ í•˜ëŠ” ë°©ë²• ì„¤ëª…

## âš™ï¸ í™˜ê²½ ì„¤ì • ë° ì „ì²˜ë¦¬ (Environment Setting & Preprocessing)

### Loading Library

In [1]:
import numpy as np # linear algebra
import pandas as pd
import random
from sklearn.decomposition import NMF
from sklearn.metrics import accuracy_score, roc_auc_score

### Data Load
í›ˆë ¨ íŒŒì¼ê³¼ í…ŒìŠ¤íŠ¸ íŒŒì¼ load

In [2]:
train_data = pd.read_csv('../data/train_data.csv')
test_data  = pd.read_csv('../data/test_data.csv')

### ë°ì´í„° êµ¬ì„±

- ë°ì´í„°ëŠ” í•™ìŠµ ë°ì´í„°ì…‹ê³¼ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ìœ¼ë¡œ êµ¬ë¶„ë˜ì–´ ìˆë‹¤.
- ê° ë°ì´í„°ì—ëŠ” userID, assessmentItemID, testId, answerCode, Timestamp, KnowledgeTagì˜ ì •ë³´ê°€ ìˆë‹¤.
- ì—¬ê¸°ì„œ assessmentItemIDëŠ” ë¬¸ì œì˜ ê³ ìœ  IDì´ë©°, answerCodeëŠ” ì‚¬ìš©ìê°€ í•´ë‹¹ ë¬¸ì œì˜ ì •ë‹µì„ ë§ì·„ëŠ”ì§€ ì—¬ë¶€ë¡œ, ë§ì·„ìœ¼ë©´ 1, í‹€ë ¸ìœ¼ë©´ 0ìœ¼ë¡œ í‘œê¸°ëœë‹¤.
- ê¸°ë³¸ì ì¸ í˜‘ì—… í•„í„°ë§ ì ìš©ì„ ìœ„í•´ ë³¸ ì‹¤ìŠµì—ì„œëŠ” userID, assessmentItemID, answerCodeë§Œì„ ì‚¬ìš©í•œë‹¤.

In [3]:
userid, itemid = list(set(train_data.userID)), list(set(train_data.assessmentItemID))
n_user, n_item = len(userid), len(itemid)

print(f"Train dataset")
display(train_data.head(5))
print(f" Num. Users    : {n_user}")
print(f" Max. UserID   : {max(userid)}")
print(f" Num. Items    : {n_item}")
print(f" Num. Records  : {len(train_data)}")

userid, itemid = list(set(test_data.userID)), list(set(test_data.assessmentItemID))
n_user, n_item = len(userid), len(itemid)

print(f"Test dataset")
display(test_data.head(5))
print(f" Num. Users    : {n_user}")
print(f" Max. UserID   : {max(userid)}")
print(f" Num. Items    : {n_item}")
print(f" Num. Records  : {len(test_data)}")

Train dataset

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225

 Num. Users    : 6698
 Max. UserID   : 7441
 Num. Items    : 9454
 Num. Records  : 2266586
Test dataset

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,3,A050023001,A050000023,1,2020-01-09 10:56:31,2626
1,3,A050023002,A050000023,1,2020-01-09 10:56:57,2626
2,3,A050023003,A050000023,0,2020-01-09 10:58:31,2625
3,3,A050023004,A050000023,0,2020-01-09 10:58:36,2625
4,3,A050023006,A050000023,0,2020-01-09 10:58:43,2623

 Num. Users    : 744
 Max. UserID   : 7439
 Num. Items    : 9454
 Num. Records  : 260114

In [4]:
display(test_data.tail(3))

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260111,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244
260112,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244
260113,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832

ìœ„ì™€ ê°™ì´ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì—ì„œëŠ” answerCodeê°€ -1ì¸ ê²½ìš°ê°€ ë‚˜íƒ€ë‚œë‹¤. ì´ëŠ” í‰ê°€ë¥¼ ìœ„í•œ ê²ƒìœ¼ë¡œ í•´ë‹¹ ë ˆì½”ë“œëŠ” ì œì™¸í•˜ê³  ì‹¤ìŠµì„ ìˆ˜í–‰í•œë‹¤.

### Data Preprocessing

ì¤‘ë³µ ë ˆì½”ë“œ ì œê±°
 - RS ëª¨ë¸ì—ì„œëŠ” ì‹œê°„ì— ë”°ë¥¸ ë³€í™”ë¥¼ ê³ ë ¤í•˜ì§€ ì•Šê¸° ë•Œë¬¸ì— ìµœì¢… ì„±ì ë§Œì„ ë°”íƒ•ìœ¼ë¡œ í‰ê°€í•œë‹¤.
 - ì‚¬ìš©ì+ë¬¸ì œí•­ëª©ì„ Unique keyë¡œ í•˜ì—¬ ìµœì¢… ë ˆì½”ë“œë§Œì„ ë³´ì¡´í•˜ê³  ë‚˜ë¨¸ì§€ ì œê±°í•œë‹¤.

In [6]:
train_data.drop_duplicates(subset = ["userID", "assessmentItemID"],
                     keep = "last", inplace = True)
test_data.drop_duplicates(subset = ["userID", "assessmentItemID"],
                     keep = "last", inplace = True)

ë¶ˆí•„ìš”í•œ column ì œê±°
- ë‹¤ìŒê³¼ ê°™ì´ pandasì—ì„œëŠ” ë¶ˆí•„ìš”í•œ columnì„ ì œê±°í•  ìˆ˜ ìˆë‹¤.

In [7]:
train_data.drop(['Timestamp','testId','KnowledgeTag'],
                axis=1, inplace=True, errors='ignore')
train_data.head(10)

   userID assessmentItemID  answerCode
0       0       A060001001           1
1       0       A060001002           1
2       0       A060001003           1
3       0       A060001004           1
4       0       A060001005           1
5       0       A060001007           1
6       0       A060003001           0
7       0       A060003002           1
8       0       A060003003           1
9       0       A060003004           1

í‰ê°€ í•­ëª© ì œê±°
- í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ì—ì„œ answerCodeê°€ -1ì¸ í•­ëª©ì€ ìµœì¢… í‰ê°€ì‹œ ì‚¬ìš©ë˜ëŠ” í•­ëª©ìœ¼ë¡œ ì—¬ê¸°ì—ì„  ì‚¬ìš©í•  ìˆ˜ ì—†ë‹¤.
- ì•„ë˜ ê²°ê³¼ì—ì„œì™€ ê°™ì´ User, Item ìˆ˜ëŠ” ë³€í™” ì—†ì´ ì´ ë ˆì½”ë“œ ìˆ˜ë§Œ ë³€í•œë‹¤.

In [8]:
test_data_old = test_data.copy()
n_user_old, n_item_old = n_user, n_item
result_data = test_data[test_data.answerCode<0].copy()
test_data  = test_data[test_data.answerCode>=0].copy()

userid, itemid = list(set(test_data.userID)), list(set(test_data.assessmentItemID))
n_user, n_item = len(userid), len(itemid)

display(test_data.tail(5))
print(f" Num. Users    : {n_user}->{n_user}")
print(f" Max. UserID   : {max(userid)}")
print(f" Num. Items    : {n_item}->{n_item}")
print(f" Num. Records  : {len(test_data_old)}->{len(test_data)}")

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260108,7439,A040197006,A040000197,1,2020-08-21 07:39:45,2132
260109,7439,A040130001,A040000130,0,2020-10-14 23:07:23,8832
260110,7439,A040130002,A040000130,1,2020-10-14 23:07:41,8832
260111,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244
260112,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244

 Num. Users    : 744->744
 Max. UserID   : 7439
 Num. Items    : 9454->9454
 Num. Records  : 256073->255329

í‰ê°€ í•­ëª© ì‹ ê·œ ìƒì„±
- ë‚¨ì€ í…ŒìŠ¤íŠ¸ í•­ëª© ì¤‘, ê° ì‚¬ìš©ìë³„ ìµœì¢… ë ˆì½”ë“œë¥¼ ìƒˆë¡œìš´ í‰ê°€ í•­ëª©ìœ¼ë¡œ ì •í•œë‹¤.

In [9]:
eval_data = test_data.copy()
eval_data.drop_duplicates(subset = ["userID"],
                     keep = "last", inplace = True)
display(eval_data.head(5))
display(eval_data.tail(5))
print(f" Num. Records  : {len(eval_data)}")

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
1034,3,A050133007,A050000133,0,2020-10-26 13:13:11,5289
1705,4,A070146007,A070000146,1,2020-12-27 02:47:31,9080
3022,13,A070111007,A070000111,1,2020-12-27 04:35:01,9660
4282,17,A090064005,A090000064,1,2020-10-30 05:47:22,2611
4669,26,A060135006,A060000135,0,2020-10-23 11:44:01,1422

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260051,7395,A040122004,A040000122,0,2020-09-08 02:05:18,2102
260066,7404,A030111004,A030000111,1,2020-10-13 09:47:31,7636
260081,7416,A050193003,A050000193,0,2020-10-04 02:44:17,10402
260096,7417,A050193003,A050000193,0,2020-09-06 13:08:54,10402
260112,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244

 Num. Records  : 744

í‰ê°€ í•­ëª©ì„ í…ŒìŠ¤íŠ¸ í•­ëª©ì—ì„œ ì œê±°í•œë‹¤.

In [10]:
test_data.drop(index=eval_data.index, inplace=True, errors='ignore')
display(test_data.tail(5))
print(f" Num. Records  : {len(test_data)}")

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
260107,7439,A040197005,A040000197,0,2020-08-21 07:39:40,2132
260108,7439,A040197006,A040000197,1,2020-08-21 07:39:45,2132
260109,7439,A040130001,A040000130,0,2020-10-14 23:07:23,8832
260110,7439,A040130002,A040000130,1,2020-10-14 23:07:41,8832
260111,7439,A040130003,A040000130,1,2020-10-14 23:08:02,8244

 Num. Records  : 254585

ì‚¬ìš©ì - ë¬¸ì œí•­ëª© ê´€ê³„ë¥¼ pivot í…Œì´ë¸”ë¡œ ë³€ê²½
 - ê° ì‚¬ìš©ìë³„ë¡œ í•´ë‹¹ ë¬¸ì œë¥¼ ë§ì·„ëŠ”ì§€ ì—¬ë¶€ë¥¼ matrix í˜•íƒœë¡œ ë³€ê²½
 - í•´ë‹¹ ë¬¸ì œë¥¼ í‘¼ ì ì´ ì—†ëŠ” ê²½ìš° 0.5(ì˜ˆì‹œ)ìœ¼ë¡œ ì„¤ì •

In [11]:
matrix_train = train_data.pivot_table('answerCode', index='userID', columns='assessmentItemID')
matrix_train.fillna(0.5, inplace=True)
display(matrix_train.head(5))
print(f"Result Shape is {matrix_train.shape}")

assessmentItemID,A010001001,A010001002,A010001003,A010001004,A010001005,A010002001,A010002002,A010002003,A010002004,A010002005,...,A090073003,A090073004,A090073005,A090073006,A090074001,A090074002,A090074003,A090074004,A090074005,A090074006
userID,,,,,,,,,,,,,,,,,,,,,
0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
2,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
6,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

Result Shape is (6698, 9454)

## ğŸ¯ NMF ë¶„ì„

### ë°ì´í„° ì¸ë±ìŠ¤ ë§¤í•‘ ìƒì„±

ì‚¬ìš©ì/ë¬¸ì œí•­ëª© IDì™€ tableìƒì—ì„œì˜ indexë¥¼ ë§¤ì¹­ì‹œí‚¤ê¸° ìœ„í•œ lookup tableì„ dictionary í˜•íƒœë¡œ ìƒì„±

In [12]:
user_id2idx = {v:i for i,v in enumerate(matrix_train.index)}
user_idx2id = {i:v for i,v in enumerate(matrix_train.index)}

item_id2idx = {v:i for i,v in enumerate(matrix_train.columns)}
item_idx2id = {i:v for i,v in enumerate(matrix_train.columns)}

### NMF ë¶„ì„

$X = ${User - Item ê°„ì˜ valueë¥¼ ì €ì¥í•˜ëŠ” matrix}

$X = R^{n_{user} \times n_{item}}$

In [13]:
X = matrix_train.values
display(pd.DataFrame(X, columns=matrix_train.columns).head())

assessmentItemID,A010001001,A010001002,A010001003,A010001004,A010001005,A010002001,A010002002,A010002003,A010002004,A010002005,...,A090073003,A090073004,A090073005,A090073006,A090074001,A090074002,A090074003,A090074004,A090074005,A090074006
0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
1,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
2,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
3,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5
4,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

ìœ„ matrixë¥¼ ë°”íƒ•ìœ¼ë¡œ NMF ë¶„ì„ ìˆ˜í–‰

In [14]:
nmf = NMF(n_components=12)
nmf.fit(X)
Y = nmf.transform(X)

/opt/conda/envs/special/lib/python3.8/site-packages/sklearn/decomposition/_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(
/opt/conda/envs/special/lib/python3.8/site-packages/sklearn/decomposition/_nmf.py:1637: ConvergenceWarning: Maximum number of iterations 200 reached. Increase it to improve convergence.
  warnings.warn(

ì¶”ë¡ ì„ ìœ„í•´ predict matrix ë³µì›
 - ì²˜ìŒ pivot tableì˜ ê°’ì„ NMFë¡œ êµ¬í•œ matrixë¥¼ í†µí•´ ë³µì›í–ˆì„ ë•Œ, ë‘ í–‰ë ¬ ì‚¬ì´ì˜ ì˜¤ì°¨ (restore error) ëŠ” 0ì— ê°€ê¹Œìš¸ìˆ˜ë¡ NMFê°€ ì˜¬ë°”ë¥´ê²Œ êµ¬í•´ì§

In [15]:
X_pred = nmf.inverse_transform(Y)
restore_error = np.sum(np.square(X_pred - X)) /X_pred.size
print(f"Restore Error : {restore_error}")

Restore Error : 0.007614263246727391

## ğŸ¯ ì˜ˆì¸¡ ë° í‰ê°€

### í•™ìŠµ ë°ì´í„° ì¬í˜„ í‰ê°€

ì˜ˆì¸¡ í•¨ìˆ˜ ì •ì˜

In [16]:
def predict(userid, itemid):
    useridx = user_id2idx[userid]
    itemidx = item_id2idx[itemid]
    
    return X_pred[useridx, itemidx]

í•™ìŠµì— ì‚¬ìš©í•œ ë°ì´í„°ë¥¼ ì–¼ë§ˆë‚˜ ì˜ ì˜ˆì¸¡í•˜ëŠ”ì§€ í‰ê°€

In [17]:
a_prob = [predict(u,i) for u,i in zip(train_data.userID, train_data.assessmentItemID)]
a_pred = [round(v) for v in a_prob] 
a_true = train_data.answerCode

print("Train data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Train data prediction
 - Accuracy = 76.15%
 - ROC-AUC  = 77.97%

ìœ„ ì½”ë“œì—ì„œëŠ” ì´ë¯¸ í•™ìŠµëœ ì‚¬ìš©ìì— ëŒ€í•´ì„œë§Œ ì¶”ë¡ ê°’ì„ ê³„ì‚° ê°€ëŠ¥í•˜ë‹¤.

- í…ŒìŠ¤íŠ¸ ë°ì´í„°ì˜ ì‚¬ìš©ìëŠ” í•™ìŠµ ë°ì´í„°ì…‹ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ”ë‹¤.
- ë”°ë¼ì„œ í•´ë‹¹ ì‚¬ìš©ìì˜ ê°’ì„ ê°€ì ¸ì˜¬ ìˆ˜ ì—†ê¸°ì— í‚¤ ì—ëŸ¬ê°€ ë°œìƒí•œë‹¤.

In [18]:
try:
    a_prob = [predict(u,i) for u,i in zip(test_data.userID, test_data.assessmentItemID)]
    a_pred = [round(v) for v in a_prob]
    a_true = test_data.answerCode

    print("Test data prediction")
    print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
    print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")
except:
    print("Error Occurs!!")

Error Occurs!!

### í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¬í˜„ í‰ê°€

í•™ìŠµë˜ì§€ ì•Šì€ ì‚¬ìš©ìì— ëŒ€í•´ì„œë„ ë¬¸ì œë¥¼ í‘¼ ë°ì´í„°ê°€ ì¡´ì¬í•  ê²½ìš° ì´ë¥¼ ë°”íƒ•ìœ¼ë¡œ ì¶”ë¡  ê°€ëŠ¥í•˜ë‹¤.

$B = $ {í•™ìŠµë˜ì§€ ì•Šì€ ì‚¬ìš©ìì— ëŒ€í•œ User - Item ê°„ value í–‰ë ¬}

$ A = U \Sigma V$ ì¼ë•Œ factor matrx $A_{factor} = R^{n_{user} \times n_{factor}}$ ì¸ $A_{factor}$ ëŠ”
- $A_{factor} \Sigma V = A$
- $A_{factor} = A {(\Sigma V)}^+ = A V^T \Sigma^+  $ ($U, V$ ëŠ” ì§êµí–‰ë ¬)

$ B_{pred} \approx B_{factor} \Sigma V  = B V^T \Sigma^+ \Sigma V$

In [19]:
def predict(matrix, userid, itemid, user_id2idx, item_id2idx):
    X = matrix
    X_pred = nmf.inverse_transform(nmf.transform(X))

    ret = [X_pred[user_id2idx[u], item_id2idx[i]] for u,i in zip(userid, itemid)]
    return ret

í•™ìŠµ ë°ì´í„° ì¬í˜„ ì„±ê³µë¥

In [20]:
a_prob = predict(matrix_train.values, train_data.userID, train_data.assessmentItemID, user_id2idx, item_id2idx)
a_true = train_data.answerCode
a_pred = [round(v) for v in a_prob]

print("Train data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Train data prediction
 - Accuracy = 76.15%
 - ROC-AUC  = 77.97%

í…ŒìŠ¤íŠ¸ ë°ì´í„° ì¬í˜„ ì„±ê³µë¥

In [21]:
# item_id2idxëŠ” trainì—ì„œ ì‚¬ìš©í•œ ê²ƒì„ ë‹¤ì‹œ ì‚¬ìš©í•œë‹¤.
userid = sorted(list(set([u for u in test_data.userID])))
user_id2idx_test = {v:i for i,v in enumerate(userid)}

matrix_test = 0.5*np.ones((len(userid), len(item_id2idx)))
for user,item,a in zip(test_data.userID, test_data.assessmentItemID, test_data.answerCode):
    user,item = user_id2idx_test[user],item_id2idx[item]
    matrix_test[user,item] = a

# ì„±ëŠ¥ ì¸¡ì •
a_prob = predict(matrix_test, test_data.userID, test_data.assessmentItemID, user_id2idx_test, item_id2idx)
a_true = test_data.answerCode
a_pred = [round(v) for v in a_prob] 

print("Test data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Test data prediction
 - Accuracy = 75.62%
 - ROC-AUC  = 77.29%

### í…ŒìŠ¤íŠ¸ í‰ê°€ ë°ì´í„° ì¬í˜„ í‰ê°€

í…ŒìŠ¤íŠ¸ ë°ì´í„° ê¸°ë°˜ ì„ ë³„ëœ í‰ê°€í•­ëª© ì¶”ë¡

In [22]:
a_prob = predict(matrix_test, eval_data.userID, eval_data.assessmentItemID, user_id2idx_test, item_id2idx)
a_true = eval_data.answerCode
a_pred = [round(v) for v in a_prob] 

print("Test data prediction")
print(f" - Accuracy = {100*accuracy_score(a_true, a_pred):.2f}%")
print(f" - ROC-AUC  = {100*roc_auc_score(a_true, a_prob):.2f}%")

Test data prediction
 - Accuracy = 71.64%
 - ROC-AUC  = 75.48%

## Submission

-1 ì¸ ë°ì´í„°ë¡œ submission fileì„ ìƒì„±í•œë‹¤.

In [23]:
a_prob = predict(matrix_test, result_data.userID, result_data.assessmentItemID, user_id2idx_test, item_id2idx)
a_true = result_data.answerCode
a_pred = [round(v) for v in a_prob] 
test = []
for i in range(len(a_true)):
    test.append([i, a_prob[i]])

last = pd.DataFrame(test, columns=['id', 'prediction'])
last.to_csv("NMF2.csv", index=False)